@model FinancialManager.Models.InputModels.IncomeInputModel

@using (Ajax.BeginForm("AddIncome", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "AddIncome(data);", OnFailure = "OnError(error)" }))
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Name, "Name", new { @class = "col-2 col-form-label" })
        <div class="col-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.PlannedAmount, "Planned", new { @class = "col-2 col-form-label" })
        <div class="col-10">
            @Html.TextBoxFor(x => x.PlannedAmount, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Currency, "Currency", new { @class = "col-2 col-form-label" })
        <div class="col-10">
            @*@Html.DropDownListFor(x => x.Currency, new List<SelectListItem>(ViewBag.CurrencyList), new { @class = "form-control" })*@
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
}
