@model FinancialManager.Models.OutputModels.IncomeOutputModel
<div class="col-md-4">
    <h6 class="text-hide">@Model.Id</h6>
    <h4>@Model.Name</h4>
    <h6>Balance @Model.Balance @Model.Currency</h6>
    <h6 class="text-muted">@Model.PlannedAmount @Model.Currency</h6>
</div>