@using FinancialManager.Models.InputModels
@using FinancialManager.Models.OutputModels
@model FinancialManager.Models.OutputModels.MainPageOutputModel
@{
    ViewBag.Title = "Dashboard";
}

    <div class="col-6">
        <div class="row">
            <h1>Incomes</h1>
        </div>
        <div class="row" id="incomes">

            @foreach (var incomeSource in Model.Incomes)
            {
                @Html.Partial("_income", incomeSource)
            }
        </div>

        <div class="row">
            <h1>Wallets</h1>
        </div>
        <div class="row" id="wallets">
            @foreach (var wallet in Model.Wallets)
            {
                @Html.Partial("_wallet", wallet)
            }
        </div>

        <div class="row">
            <h1>Categories</h1>
        </div>
        <div class="row" id="categories">

            @foreach (var category in Model.Categories)
            {
                @Html.Partial("_category", category)
            }
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="row">
                <h1>Transactions</h1>
            </div>

            <div class="row" id="transactions">
                <div class="col-12">
                    @*@Html.Partial("_addTransaction", new TransactionInputModel())*@
                </div>
                @foreach (var transaction in Model.Transactions)
                {
                    @Html.Partial("_transaction", transaction)
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Html.Partial("_addCategory", new CategoryInputModel())
        </div>
        <div class="col-12">
            @Html.Partial("_addIncome", new IncomeInputModel())
        </div>
        <div class="col-12">
            @Html.Partial("_addWallet", new WalletInputModel())
        </div>

    </div>

